:root {
  --h: 195;
  --clh-1: hsl(var(--h), 100%, 95%);
  --clh-2: hsl(var(--h), 100%, 80%);
  --clh-3: hsl(var(--h), 100%, 65%);
  --clh-4: hsl(var(--h), 100%, 50%);
  --clh-5: hsl(calc(var(--h) + 30), 100%, 60%);
  --clh-6: hsl(calc(var(--h) + 30), 100%, 40%);
  --clh-7: hsl(calc(var(--h) + 30), 100%, 20%);
}

.clh-color-1 {
  background-color: var(--clh-1);
}
.clh-color-2 {
  background-color: var(--clh-2);
}
.clh-color-3 {
  background-color: var(--clh-3);
}
.clh-color-4 {
  background-color: var(--clh-4);
}
.clh-color-5 {
  background-color: var(--clh-5);
}
.clh-color-6 {
  background-color: var(--clh-6);
}
.clh-color-7 {
  background-color: var(--clh-7);
}

.bubles-pop {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: .3rem 0;
}

.buble-pop {
  width: 15px;
  height: 15px;
  border-radius: 16px;
}


body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
#map {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.view-container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: 10px solid #ededed;
  overflow: hidden;
}
.header {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  height: 90px;
  width: 100%;
  background-color: #ededed;
  font-family: sans-serif;
  padding: 0 1rem;
}

.logo {
  display: flex;
  flex-direction: column;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #D9636C;
  letter-spacing: -5px;
}
.header-populated,
.header-places {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}
.header-places::after {
  content: '\1F310';
  color: #D9636C;
  font-size: 1rem;
  position: relative;
  bottom: .05rem;
  left: .4rem;
}
.label-wrapper,
.data-wrapper {
  position: relative;
  overflow: hidden;
}
.city-data {
  display: flex;
  justify-content: space-between;
  color: #555;
}
.city-data section{
  margin-left: 2rem;
}
.label {
  position: relative;
  font-size: .8rem;
  font-family: monospace;
  font-weight: bold;
  color: #D9636C;
  bottom: -15px;
  transition: all .3s ease-in-out;
}
.label-visible {
  bottom: 0px;
}
.big-data {
  position: relative;
  left: -2px;
  font-weight: bold;
  bottom: -55px;
  transition: all .3s ease-in-out;
}
.small-data {
  position: relative;
  bottom: -20px;
  transition: all .3s ease-in-out;
}

.big-data-visible,
.small-data-visible {
  bottom: 0;
}

#city-name {
  font-size: 3.5rem;
}
#city-population {
  font-size: 3.8rem;
  line-height: 3.8rem;
}
.legend {
  box-sizing: border-box;
  position: absolute;
  top: 98px;
  left: 9px;
  height: 460px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
  z-index: 4;
  border-radius: 3px;
  font-family: monospace;
  color: #555;
  overflow: hidden;
}

.legend-change-buttons {
  display: flex;
  width: 100%;
}

.legend-button {
  box-sizing: border-box;
  padding: .5rem;
  margin: .5rem;
  border: 1px solid #555;
  flex-basis: 50%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}

.legend-data-container {
  width: 100%;
  height: 50%;
  position: relative;
}

.chloropet-legend,
.bubles-legend {
  width: calc(100% - 1rem);
  height: 100%;
  position: absolute;
  background-color: white;
  box-sizing: border-box;
  padding: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  transition: all .3 ease-in;
}

.chloropet-legend {
  left: -100%;
}

.bubles-legend {
  right: -100%;
}

.legend-active {
  left: 0;
  top: 0;
}

.chl-edit-controls {
  width: calc(100% - 1rem);
  margin: 1rem .5rem;
  box-sizing: border-box;
}

.chl-pop-selector {
  padding-top: 1rem;
}

.capitals-button {
  box-sizing: border-box;
  width: calc(100% - 1rem);
  margin: .5rem;
  padding: .3rem;
  font-size: .7rem;
  border: 1px solid #555;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: bold;
  cursor: pointer;
}

.pop-bubble {
  width: 15px;
  height: 15px;
  border-radius: 8px;
  align-items: center;
}

.edit-button {
  position: absolute;
  height: 40px;
  width: 50px;
  right: -49px;
  background-color: #e1e1e1;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  color: #D9636C;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
}

.edit-layers-board {
  box-sizing: border-box;
  width: 349px;
  height: 200px;
  padding: 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #e1e1e1;
  border-radius: 0 0 3px 3px;
  position: absolute;
  z-index: 4;
  top: 137px;
  left: 48px;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: all .3s ease-in-out;
}
.edit-layers-board--active {
  transform: rotateX(0deg);
}
.checkbox-label,
.range-label {
  position: relative;
  left: 4px;
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: bold;
  color: #D9636C;
}

.checkbox-label {
  display: inline-block;
}

.chl-hue-selector {
  margin: 1rem 0;
  color: #555;
}

.hue-slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height:5px;
  background: -webkit-linear-gradient(to right, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: linear-gradient(to right,  #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

.population-slider,
.population-slider2 {
  pointer-events: none;
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height:5px;
  background: -webkit-linear-gradient(to right, var(--clh-1), var(--clh-2), var(--clh-3), var(--clh-4), var(--clh-5), var(--clh-6), var(--clh-7));
  background: linear-gradient(to right, var(--clh-1), var(--clh-2), var(--clh-3), var(--clh-4), var(--clh-5), var(--clh-6), var(--clh-7));
}
.population-slider2 {
  position: relative;
  top: -15px;
  background: none transparent;
}
.hue-slider::-webkit-slider-thumb,
.population-slider::-webkit-slider-thumb,
.population-slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 13px;
  background-color: #555;
  opacity: 1;
  cursor: -webkit-grab;
  pointer-events: all;
  position: relative;
  z-index: 1;
  position: relative;
  top: 0px;
}
.hue-slider::-webkit-slider-thumb:active,
.population-slider::-webkit-slider-thumb:active,
.population-slider2::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}

.slider-population-data {
  position: relative;
  top: -5px;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
  font-size: .8rem;
  color: #333;
}

.min-pop-data {
  position: relative;
  left: 4px;
}

.selected-place {
  fill: #D9636C;
  fillOpacity: 1;
}
.place-marker {
  transition: all ease-in-out;
}

.distances-container {
  box-sizing: border-box;
  position: absolute;
  bottom: -70px;
  height: 70px;
  width: 100vw;
  border-top: 3px solid  #D9636C;
  background-color: #ededed;
  z-index: 4;
}

/* Leaflet controls styles */

.leaflet-control-container {
  position: absolute;
  top: 87px;
  right: 68px;

}
.leaflet-touch .leaflet-bar {
  border: none;
}
.leaflet-bar a {
  background-color: #ededed;
  color:  #D9636C;
}
.leaflet-bar a:hover {
  background-color: #e1e1e1;
  color:  #D9636C;
}

.custom-tooltip {
  font-family: monospace;
  background-color: #ededed;
  color: #D9636C;
  border: none;
}
